# `CASE` Statement & `IF()` function

## Lesson Goals
- Understand how to use a `CASE` statement and why you might want to use it
    - bucket or bin data to Zoom out or reduce noise in your data by viewing it at a higher level
- Understand which logical operators you can use in your `CASE` statements
    - the same set of conditional operators you can use in a `WHERE` clause can be used in a `CASE` statment

<img src=https://i.pinimg.com/564x/cf/d7/43/cfd7433698b0ef4bd75e803333df8467.jpg width="200">

- Understand how to use the `IF()` function and when you might opt for this option
- Understand the difference between the two above options

___

**A `CASE` Statement** allows you to  process a series of IF/THEN locial operators in a specific order. *They execute in the order they appear, so if a record satisfies more than one logical condition, the record will be assigned by the first THEN statement.*

<div class="alert alert-block alert-info"><b>Tip:</b> You might decide to use the ELSE condition as a catch all or error message to alert you to values you were not expecting in your data or faulty logic in your IF/THEN statements.</div>

Check out more explanation and examples of `CASE` Statements [here](https://ds-review-hub.github.io/sql_extras) in my review notebook.

```sql
-- CASE statement syntax. This allows me to reference different columns in my logic.
SELECT
    column_name,
    CASE
        WHEN column_name logic_1 THEN value1
        WHEN column_name logic_2 THEN value2
        WHEN column_name logic_3 THEN value3
        ELSE catch_all_value
        END AS new_column_name
FROM table_name;
```

___

**Let's look at some examples.**

```sql
-- Choose the chipotle database
USE chipotle;

-- Check out my orders table.
SELECT *
FROM orders;
```

___

**Bucket Data**

<img src=https://i.pinimg.com/564x/0e/43/26/0e43269e2d1684026a83f2e25edb8b02.jpg width="50">

```sql
-- Use a `CASE` statement to create bins called item_type using item names.
SELECT 
	item_name,
	CASE
		WHEN item_name LIKE '%chicken%' THEN 'Chicken Item'
		WHEN item_name LIKE '%veggie%' THEN 'Veggie Item'
		WHEN item_name LIKE '%beef%' THEN 'Beef Item'
		WHEN item_name LIKE '%barbacoa%' 
			OR item_name LIKE '%carnitas%' 
			OR item_name LIKE '%steak%' THEN 'Specialty Item'		
		WHEN item_name LIKE '%chips%' THEN 'Side'
		ELSE 'Other'
		END AS item_type
FROM orders;
```

___

**Zoom Out by adding a GROUP BY Clause**

 <img src=https://i.pinimg.com/564x/41/67/ec/4167ec6a89d575055c0fab2226039399.jpg width="50">

```sql
-- How many different items do I have for each item type bin or category?
SELECT 
	CASE
		WHEN item_name LIKE '%chicken%' THEN 'Chicken Item'
		WHEN item_name LIKE '%veggie%' THEN 'Veggie Item'
		WHEN item_name LIKE '%beef%' THEN 'Beef Item'
		WHEN item_name LIKE '%barbacoa%' 
			OR item_name LIKE '%carnitas%' 
			OR item_name LIKE '%steak%' THEN 'Specialty Item'		
		WHEN item_name LIKE '%chips%' THEN 'Side'
		ELSE 'Other'
		END AS item_type,
	COUNT(*) count_of_records
FROM orders
GROUP BY item_type
ORDER BY count_of_records DESC;
```
|  item_type  | count_of_records|
|:-----|----:|
|Chicken Item |1560|
|Specialty Item|1086|
|Side|1084|
|Other|680|
|Veggie Item|212|

___

**Zoom In by adding a sub-dimension to my GROUP BY Clause and a HAVING Clause to filter**

 <img src=https://i.pinimg.com/564x/9d/00/90/9d0090f18edbbfc7c22b68596e302cfe.jpg width="50">

```sql
-- Filter my return set to Specialty Items item types only and see which item in this category is most popular.
SELECT 
	item_name,
	CASE
		WHEN item_name LIKE '%chicken%' THEN 'Chicken Item'
		WHEN item_name LIKE '%veggie%' THEN 'Veggie Item'
		WHEN item_name LIKE '%beef%' THEN 'Beef Item'
		WHEN item_name LIKE '%barbacoa%' 
			OR item_name LIKE '%carnitas%' 
			OR item_name LIKE '%steak%' THEN 'Specialty Item'
		WHEN item_name LIKE '%chips%' THEN 'Side'
		ELSE 'Other'
		END AS item_type,
	COUNT(*) AS count_of_records
FROM orders
GROUP BY item_type, item_name
HAVING item_type = 'Specialty Item'
ORDER BY count_of_records DESC;
```
|item_name        |      item_type     |   count_of_records|
|:-----|:-----|----:|
|Steak Burrito     |     Specialty Item |368|
|Steak Bowl        |     Specialty Item |211|
|Barbacoa Burrito   |    Specialty Item |91|
|Carnitas Bowl      |    Specialty Item |68|
|Barbacoa Bowl       |   Specialty Item |66|
|Carnitas Burrito    |   Specialty Item |59|
|Steak Soft Tacos    |   Specialty Item |55|
|Carnitas Soft Tacos  |  Specialty Item |40|
|Steak Crispy Tacos   |  Specialty Item |35|
|Steak Salad Bowl    |   Specialty Item |29|
|Barbacoa Soft Tacos  |  Specialty Item |25|
|Barbacoa Crispy Tacos | Specialty Item |11|
|Barbacoa Salad Bowl  |  Specialty Item |10|
|Carnitas Crispy Tacos | Specialty Item |7|
|Carnitas Salad Bowl  |  Specialty Item |6|
|Steak Salad          |  Specialty Item |4|
|Carnitas Salad        | Specialty Item |1|

___

**Let's look at an example that references different columns in our `CASE` statement logic.**